.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1431px;
}

.u-section-1 .u-image-1 {
  height: 512px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 409px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 13px 22px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 17px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 35px 11px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 58px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 409px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 22px;
}

.u-section-1 .u-text-4 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 17px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 36px 0 0;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 39px auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 409px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 20px;
}

.u-section-1 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 3.75rem;
  margin-left: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: 17px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: 15px 0 0;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 61px auto 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 409px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 22px 27px;
}

.u-section-1 .u-text-10 {
  margin-top: 6px;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 3.75rem;
  margin-left: 3px;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 13px 3px 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  margin: 17px 0 0 3px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 16px auto 0 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin: 0 auto 60px 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 430px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 27px 20px 30px;
}

.u-section-1 .u-text-13 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 3px 0 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  margin: 36px 0 0 3px;
}

.u-section-1 .u-text-15 {
  font-size: 0.875rem;
  margin: 31px 0 0 3px;
}

.u-section-1 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 71px auto 0 3px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 430px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 30px 20px;
}

.u-section-1 .u-text-16 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-1 .u-text-18 {
  font-size: 0.875rem;
  margin: 29px 0 0;
}

.u-section-1 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 41px auto 0 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 430px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 30px 20px;
}

.u-section-1 .u-text-19 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  margin: 24px 0 0;
}

.u-section-1 .u-text-21 {
  font-size: 0.875rem;
  margin: 31px 0 0;
}

.u-section-1 .u-icon-7 {
  height: 64px;
  width: 64px;
  margin: 64px auto 0 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 430px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 30px 20px 27px;
}

.u-section-1 .u-text-22 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 0 0 0 3px;
}

.u-section-1 .u-text-23 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 29px 0 0 3px;
}

.u-section-1 .u-text-24 {
  font-size: 0.875rem;
  margin: 28px 0 0 3px;
}

.u-section-1 .u-icon-8 {
  height: 64px;
  width: 64px;
  margin: 147px auto 0 3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1543px;
  }

  .u-section-1 .u-image-1 {
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 14px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 43px;
    margin-right: 16px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 46px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 479px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 43px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 31px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 479px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 53px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 479px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 31px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 490px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 43px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 62px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 490px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 43px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 32px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 490px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 70px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 490px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 7px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 7px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-top: 22px;
    margin-left: 7px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 180px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2261px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 431px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 82px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 375px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 13px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 375px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 29px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 2px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 2px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -6px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 442px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 67px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 442px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 57px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 417px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 52px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 417px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-right: 29px;
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 2px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 2px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 131px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3044px;
  }

  .u-section-1 .u-image-1 {
    height: 297px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 333px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 25px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 37px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 26px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 36px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 316px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 25px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 15px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 28px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 342px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 18px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 28px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 0;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 350px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 21px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 43px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 361px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 22px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 43px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 335px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 25px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 43px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 308px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 3px;
    padding-left: 30px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 4px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 4px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 13px;
    margin-right: 193px;
    margin-left: 7px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 40px;
    margin-left: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3178px;
  }

  .u-section-1 .u-image-1 {
    height: 204px;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 370px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 404px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 28px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 37px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 361px;
  }

  .u-section-1 .u-text-21 {
    margin-top: 19px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 25px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 292px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-right: 30px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 38px;
  }

  .u-section-1 .u-icon-8 {
    margin-top: 21px;
  }
}